<div class="box_page">
	<h2>Sobre a Hambra Cotton</h2>
	<p>A Hambra Cotton Corretora foi inicialmente criada em 2011 voltada inicialmente com o intuito de intermediar algodão em pluma e derivativos como caroço, línter, óleo e fios.</p>

	<p>Os derivados agropecuários tem bastante volatilidade, necessitando acompanhamento consistente e diário dos fatores que consolidam a variação e formação de preços tais como: oferta e demanda, câmbio, juros, fenômenos da natureza e intervenções do Estado.</p>

	<p>Com a expertise de profissionais qualificados técnica e fundalmentalmente, vem desenvolvendo planos de negócios em outras commodities como a comercialização de grãos como soja e milho. Com uma equipe responsável busca viabilizar as necessidades da cadeia do agronegócio desde a origem, comercialização, até a exportação, proporcionando uma fidelização.</p>

	<p>A Hambra Cotton já possui em sua lista de clientes produtores rurais, cooperativas, exportadores, tradings, indústria de insumos e transformação, entre outras. Sempre visando garantir 100% a satisfação de nossos colaboradores.</p>
	<div class="clearfix"></div>
</div>
