<h1>Título H1</h1>
<h2>Título H2</h2>
<h3>Título H3</h3>
<h4>Título H4</h4>
<h5>Título H5</h5>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, debitis, quibusdam reprehenderit alias voluptates quam aspernatur inventore cupiditate suscipit aut omnis impedit beatae adipisci accusantium saepe eveniet et commodi magni consequuntur natus illo nam eaque vero delectus asperiores numquam fugiat! Eligendi, nulla deserunt vitae omnis quibusdam velit molestiae dolorem consectetur.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nisi!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nisi!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nisi!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nisi!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nisi!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nisi!</p>

<button>Botão</button>

<pre>
	<code><?php echo "teste" ?></code>
</pre>